<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create picture</title>
    <link rel="stylesheet" href="../../resources/css/style.css">

</head>
<body>
<h1 class="title">Create picture</h1>
<p>
    <a class="title" href="/pictures">Picture list</a>
</p>
<form th:action="@{/save-picture}" th:object="${pictureForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}" multiple/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create picture"></td>
        </tr>
    </table>
</form>
</body>
</html>